<footer>
    <div class="text-center p-4 text-secondary" style="background-color: rgba(0, 0, 0, 0.05);">
      Tiendita de Música | Av. del Valle #0542, Villa Dulce, Región del Lib. Bernardo O'Higgins | Tel: 024 756 2514 - 024 756 2515 | © 2022 Copyright:
      <a class="text-reset fw-bold" href="#">Javier Vargas</a>
    </div>
  </footer>